@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body 
{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: "Inter", "sans-serif";
}

.webgl_wrapper
{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  z-index: -1;
}

#app 
{
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;

}

.content_section 
{
  display: none;
  transition: all;
}

.content_section.active 
{
  display: flex;
}

.header_wrapper 
{
  position: absolute;
  display: flex;
  justify-content: start;
  place-items: center;
  flex-direction: column;
  width: 100vw;
  height: 15vh;
  z-index: 100;
}

.header_container 
{
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.header_name 
{
  color: rgb(179, 179, 179);
}

.header_navbar 
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 1vw;
  color: rgb(181, 181, 181);
}

.view_project 
{
  cursor: pointer;
}


.content_wrapper 
{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.home_wrapper 
{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.home_container 
{
  width: 100vw;
  height: 100vh;
}

.home_title_container 
{
  width: 100vw;
  height: 20vh;
  margin-top: 75vh;
  margin-left: 3vw;
  position: relative;
}

.home_title_container h1 
{
  top: 0;
  left: 0;
  position: absolute;
  color: rgb(208, 218, 224);
  font-weight: 400;
  font-size: calc(1.0vh + 4.0rem);
}

.home_title_container h6
{
  top: 70%;
  position: absolute;
  color: rgb(206, 214, 223);
  font-weight: 300;
  font-size: calc(0.1vh + 0.7rem);
}


.project_container 
{
  width: 100vw;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.project_landing_container 
{
  height: 100vh;
}

.project_details_container 
{
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  place-items: center;
}

.project_details_metadata_container 
{
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.project_details_metadata_item 
{

}

.project_details_description_container 
{
  width: 20vw;
  z-index: 100;
}

.project_image_container 
{
  position: absolute;
  top: 20vh;
  left: 20vw;
}

.project_image 
{
  width: 60vw;
  height: 60vh;
  opacity: 1.0;
}

.project_extras_container 
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.project_motivation_container 
{
  width: 60vw;
  height: 40vh;
};
